.form {
  margin-bottom: 2rem;
}

.forgotPassword {
  display: inline-block;
  color: #666;
  line-height: 1;
  padding: 0.5rem 0;
}

.forgotPassword::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background: currentColor;
}

.register {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.register p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--type-second);
  font-size: 2rem;
  line-height: 1;
}

.subtitle::after {
  content: '';
  display: block;
  width: 3rem;
  height: 0.5rem;
  background: #ddd;
  border-radius: 2rem;
}